/vendor
.env
.env.*
!.env.example

composer.phar
.DS_Store
Thumbs.db
#*#
*~
*.swp
.#
.idea
.vscode
_ide_helper.php
_ide_helper_models.php
/tags

# Frontend Development modules
node_modules
bower_components
.sass-cache

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

storage/debugbar/

/.env.production

ingore.php

public/static/swagger-ui

/.php_cs.cache

# build file
/public/static/user/*
/public/static/admin/*
/public/mix-manifest.json
/public/storage


*.sql

/database/testing/testdb.sqlite
/documents/db/*
/documents/db.mwb.bak

flow-typed
yarn-error.log
package-lock.json

.elasticbeanstalk/
*.iml
